
.menu__choice{
    background-color: white;
    @include box-shadow;
    border-radius:20px;
    padding:0 10px  10px 10px;
    margin:15px auto;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    overflow: hidden;
    cursor: pointer;
    max-width :380px;
    @media screen and (min-width: 1250px){
        max-width: 410px;
    }

    &--header{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 1;
        margin-right: -55px;
        h4{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1.2rem;
            margin:4px auto;
            @media screen and (min-width: 970px){
                font-size: 1.4rem;
            }
        }
        p{
            letter-spacing:-0.5px;
            font-weight: 400;
            margin:0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &--price{
        transform: translateX(0);
        transition:800ms ease-in-out 250ms;
        margin-bottom: 1px;
        margin-right: 5px;
        display: flex;
        padding: 0 10px;
        background-color: white;
        }
    
    &--check{
            background-color: $color-tertiary;
            width: 65px;
            height:76px;
            margin-bottom: -10px;
            margin-right: -85px;
            transform: translateX(0);
            transition: 1200ms ease-in-out;
            margin-left:3px ;
            display:flex;
            align-items:center;
            justify-content:center;
            .wrap-icon{
                height: 20px;
                width: 20px;
                color: $color-tertiary;
                background-color: white;
                border-radius: 50%;
                display:flex;
                align-items:center;
                justify-content:center;
                transform: rotate(360deg);
                transition:transform 1250ms ease; 
                transition-delay: 100ms; 
            }
        }
    }
            

            


.menu__choice:hover .menu__choice--check{
     transform: translateX(-74px);

}
.menu__choice:not(:hover) .menu__choice--check{   
    transform: translateX(0);
}

.menu__choice:hover .menu__choice--price{
    transform: translateX(-75px);
    
}


.menu__choice:hover .wrap-icon{
    transform: rotate(0);
}

.menu__choice:hover .menu__choice--header {
    animation: ellipsis 600ms cubic-bezier(.37,.02,.64,1.01)   forwards ;
    animation-delay: 300ms;
    animation-iteration-count: 1;
}
.menu__choice .menu__choice--header{
    animation: ellipsis-reverse 750ms ease-in  forwards;

}
@keyframes ellipsis{
    0%{
        margin-right:-5px;
    }
    100%{
        margin-right:65px;
    }
}
@keyframes ellipsis-reverse{
    0%,65%{
        margin-right:65px;
    }
    100%{
        margin-right:-5px;
    }
}



 