.section-presentation{
     
    @media screen and (min-width: 768px){
        background-color: inherit;
    }
    &__ville{
        background-color:darken($color-bg, 5%);
        box-shadow: inset 0 3px 5px $dark-color-bg ; 
        padding:20px 0;
        font-weight: 600;
        text-align: center;
        @media screen and (min-width:970px){
            border-radius: 25px;
            padding: 29px 0;
            margin:119px 40px 0;
            @include box-shadow ;
        }
    i{
        padding-right:20px;
        }
    }

    &__ohmyfood{
        background-color: $color-bg;
        text-align: center;
        @media screen and (min-width:970px){
            background-color: inherit;
        }
    }
    p{
        line-height: 18px;
        font-weight: 300;
        @media screen and (min-width:768px){
            line-height: inherit;
         }
         @media screen and (min-width:970px){
            font-size: 1.3rem;
        }   
    }
}
